<footer class=" text-center py-2 ">
    <div class="container">
      <p>&copy; 2024 Riya Cherlakola. All rights reserved. Made with ❤️</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>